# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# misc
*.pem
.cache
.astro/
.wrangler

# generated icons
public/favicon-32x32.png
public/icons/apple-touch-icon.png
public/icons/icon-96.png
public/icons/icon-120.png
public/icons/icon-192.png
public/icons/icon-512.png
