---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "This page does not exist on fdke.vin.",
	title: "Page Not Found",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 | Page not found</h1>
	<p class="mb-8">Use the navigation to get back to an existing page.</p>
</PageLayout>
