---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";

const meta = {
	title: "FDKevin",
	description: "FDKevin's personal website",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hey!</h1>
		<p class="mb-4">Hi, I’m FDKevin, a software engineer from China.</p>
		<p class="mb-4">
			Simply, you can call me FDKevin
			<small>/ˌfʌk dɔ:g 'kevin/</small>
			.
		</p>
		<SocialList />
	</section>
</PageLayout>
